<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="UserMapper">
	<select id="selectByUserId" resultType="User">
		SELECT * FROM USERS WHERE userId = #{userId}
	</select>
	
	<insert id="insert">
		INSERT INTO USERS VALUES (#{userId}, #{password}, #{name}, #{email})
	</insert>
	
	<update id="update">
		UPDATE USERS SET password = #{password}, name = #{name}, email = #{email} WHERE userId = #{userId}
	</update>
</mapper>
